.titler {
    font-family: "Roboto", sans-serif;
    /*font-weight: 600;
  margin: 30px 35px 100px;
  text-align: center;
  */
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin: 10rem 1px 10rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}