body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
}


/* Full-width input fields */

input[type="text"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: LightSeaGreen;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 5;
}


/* Add a blue text color to links */

a {
    color: CadetBlue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: Teal;
    text-align: center;
}

.btn-join {
    background-color: #152d35;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    width: 100%;
    /* border-radius: 50px; */
}

.btn-cancel {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    width: 100%;
    /* border-radius: 50px; */
}

.header {
    border-bottom: none;
    /* padding-left: 3%; */
    /* padding-right: 3%; */
    height: 140px;
    overflow: hidden;
    background-color: #152d35;
    width: 100%;
    margin-bottom: 40px;
}

.logo {
    display: block;
    /* margin-bottom: 0px; */
    width: 10% !important;
}

.footer {
    border-bottom: none;
    /* padding-left: 3%; */
    /* padding-right: 3%; */
    height: 140px;
    overflow: hidden;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152d35;
    width: 100%;
    margin-top: 100px;
}

.alert {
    background-color: #f44336;
    color: white;
    width: 48%;
    /* border-radius: 10px; */
    margin-top: 60px;
    margin-left: 28%;
    text-align: center;
}

.alerttop {
    background-color: #f44336;
    color: white;
    width: 29%;
    /* border-radius: 10px; */
    margin-top: 60px;
    margin-left: 16%;
    padding: 10px;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"] {
    background-color: #152d35;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #152d35;
}

.form {
    margin-left: 25%;
}

.btn-cancel {
    display: flex;
    justify-content: center;
    width: 93%;
    padding-left: 5px;
    padding: 10px;
    margin: 10px;
}